In [1]:
import sys
import os
import numpy as np
import pandas as pd
sys.path.append('/Users/yuxiangyu/Documents/毕业论文-20171126/毕业论文code/')
from DataAnalysis import DataAnalysis
from sklearn import neighbors as knn
# 基本处理
stat = DataAnalysis()
now_time = stat.get_time()

In [2]:
# 获取数据集路径
train_data_path_list = stat.datasets

In [3]:
    save_columns_name_list = ['k_value', 'KNN', 'delKNN', 'del_num', 'pre_del_num','del_attr', 'data']

In [126]:
for ix, tmp_data_path in enumerate(train_data_path_list[1:2]):
    last_result_df = pd.DataFrame(columns=save_columns_name_list)
    file_name = tmp_data_path.split('/')[-1].split('.')[0]
    # 读取数据
    data_df = stat.open_csv(tmp_data_path)

    # 行列数量
    row_len, col_len = data_df.shape
    # 生成相等权重的数组
    orginal_weight_array = np.array(list([1]* (col_len - 1)))
    orginal_weight_array = orginal_weight_array / sum(orginal_weight_array) 
    # 获取训练集和测试集
    train_data, test_data = stat.get_train_test(data_df)

    # 传统 KNN 算法
    train_array = train_data.drop('label', axis=1)
    test_array = test_data.drop('label', axis=1)
    for k_value in range(1, 21):
        clf = knn.KNeighborsClassifier(n_neighbors = k_value, weights = 'uniform')
        clf.fit(train_data.drop('label', axis = 1), train_data['label'])
        # 预测结果
        predict_label_array = clf.predict(test_array)
        classic_knn_result = stat.get_accuracy_score(predict_label_array, test_data['label'])
#         print('k值:{kvalue}, 分类准确率:{re:.2f} %'.format(kvalue = k_value,re = classic_knn_result * 100)) 
        last_result_df.loc['{data}:{k}'.format(data = file_name, k = k_value), 'k_value'] = k_value
        last_result_df.loc['{data}:{k}'.format(data = file_name, k = k_value), 'KNN'] = round(classic_knn_result * 100,2)
        last_result_df.loc['{data}:{k}'.format(data = file_name, k = k_value), 'data'] = file_name
 
    center_result_df = pd.DataFrame(columns=train_data.columns)
    iter_center_result_df = pd.DataFrame(columns=train_data.columns)

In [127]:
for class_name, values in train_data.groupby('label'):
    tmp_class_name_list = values.columns
    columns_name_list = [i for i in tmp_class_name_list if 'label' not in i]
    tmp_center_mean_list = list(values[columns_name_list].mean())
    tmp_center_mean_list.append(class_name)
    center_result_df.loc[class_name, :] = tmp_center_mean_list
    tmp_result,iter_n = stat.get_weights_iteration(values[columns_name_list], orginal_weight_array, error_param = 1e-4, max_iter= 10000, alpha=0.02)
    tmp_result.append(class_name)
    iter_center_result_df.loc['{name}:{iter}'.format(name = class_name, iter = iter_n), :] = tmp_result
iter_without_label = iter_center_result_df[list(iter_center_result_df.columns)[:-1]]
tmp_iter_std = iter_without_label.std()
tmp_iter_std.sort_values(inplace= True)

In [128]:
iter_without_label

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11
3:10001,0.00943037,0.00943037,0.00943037,0.000188607,0.471518,0.000188607,3.77215e-06,0.471518,0.00943037,0.00943037,0.00943037
4:10001,0.000356633,0.0178317,0.0178317,0.000356633,0.0178317,0.000356633,0.000356633,0.891583,0.0178317,0.0178317,0.0178317
5:10001,0.0178379,0.0178379,0.0178379,0.000356758,0.0178379,0.000356758,7.13516e-06,0.891895,0.0178379,0.0178379,0.000356758
6:10001,0.000363106,0.0181553,0.0181553,0.000363106,0.0181553,0.000363106,7.26211e-06,0.907764,0.0181553,0.0181553,0.000363106
7:10001,0.000363235,0.0181617,0.0181617,0.000363235,0.0181617,7.2647e-06,7.2647e-06,0.908087,0.0181617,0.0181617,0.000363235
8:10001,0.000369817,0.0184909,0.0184909,0.000369817,0.0184909,7.39634e-06,7.39634e-06,0.924543,0.000369817,0.0184909,0.000369817
9:10001,0.000376642,0.0188321,0.0188321,0.000376642,0.0188321,7.53284e-06,7.53284e-06,0.941605,0.000376642,0.000376642,0.000376642

In [129]:
iter_mean_value = iter_without_label.mean()

In [130]:
iter_mean_value.sort_values(ascending=False, inplace=True)

In [131]:
iter_mean_value.cumsum()

col_8     0.848142
col_5     0.931118
col_3     0.948081
col_2     0.965043
col_10    0.979370
col_9     0.991107
col_1     0.995264
col_11    0.999420
col_4     0.999759
col_6     0.999943
col_7     1.000000
dtype: float64

In [163]:
# 贡献较低的数据
iter_left_series = iter_mean_value.loc[iter_mean_value.cumsum() >= 0.995]

In [164]:
# 欲删除个数
prepare_del_num = len(iter_left_series)

In [165]:
prepare_del_num

5

In [166]:
tmp_iter_std

col_4     0.000067
col_7     0.000132
col_6     0.000176
col_2     0.003340
col_3     0.003340
col_11    0.006912
col_1     0.006914
col_10    0.006951
col_9     0.008371
col_8     0.167017
col_5     0.171332
dtype: float64

In [167]:
# 求交集
del_col = list(tmp_iter_std.iloc[:prepare_del_num].index & iter_left_series.index)

In [168]:
del_col

['col_4', 'col_7', 'col_6']

In [169]:
# del_col = list(tmp_iter_std.iloc[:2].index)

In [170]:
# del_col = del_col[:1]

In [171]:
# 删除个数
del_len = len(del_col)

In [172]:
del_train_data = train_data.drop(del_col, axis=1)
del_test_data = test_data.drop(del_col, axis=1)
for del_k_value in range(1, 21):
    del_clf = knn.KNeighborsClassifier(n_neighbors = del_k_value, weights = 'uniform')
    del_clf.fit(del_train_data.drop('label', axis = 1), del_train_data['label'])
    # 预测结果
    del_predict_label_array = del_clf.predict(del_test_data.drop('label', axis=1))
    del_classic_knn_result = stat.get_accuracy_score(del_predict_label_array, del_test_data['label'])
#     print('del_k 值:{kvalue}, 分类准确率:{re:.2f} %'.format(kvalue = del_k_value,re = del_classic_knn_result * 100)) 
    
    last_result_df.loc['{data}:{k}'.format(data = file_name, k = del_k_value), 'delKNN'] = round(del_classic_knn_result * 100,2)
    last_result_df.loc['{data}:{k}'.format(data = file_name, k = del_k_value), 'del_attr'] = del_col
    last_result_df.loc['{data}:{k}'.format(data = file_name, k = del_k_value), 'del_num'] = del_len

In [173]:
# last_result_df.to_excel('result_segmentation.xls')

In [174]:
last_result_df

,k_value,KNN,delKNN,del_num,del_attr,data
new-winequality-white:1,1,55.51,59.65,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:2,2,47.76,55.1,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:3,3,46.47,53.59,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:4,4,45.83,54.11,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:5,5,48.1,52.94,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:6,6,46.59,52.3,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:7,7,45.07,51.72,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:8,8,46.53,53.06,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:9,9,44.78,52.59,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:10,10,45.07,53.29,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:11,11,46.3,51.25,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:12,12,47.17,51.78,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:13,13,47.17,52.36,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:14,14,47.93,52.01,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:15,15,47.93,51.2,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:16,16,47.93,51.02,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:17,17,47.46,50.96,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:18,18,48.05,51.02,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:19,19,47.58,51.55,3,"[col_4, col_7, col_6]",new-winequality-white
new-winequality-white:20,20,47.64,50.67,3,"[col_4, col_7, col_6]",new-winequality-white

In [175]:
last_result_df.delKNN - last_result_df.KNN

new-winequality-white:1     4.14
new-winequality-white:2     7.34
new-winequality-white:3     7.12
new-winequality-white:4     8.28
new-winequality-white:5     4.84
new-winequality-white:6     5.71
new-winequality-white:7     6.65
new-winequality-white:8     6.53
new-winequality-white:9     7.81
new-winequality-white:10    8.22
new-winequality-white:11    4.95
new-winequality-white:12    4.61
new-winequality-white:13    5.19
new-winequality-white:14    4.08
new-winequality-white:15    3.27
new-winequality-white:16    3.09
new-winequality-white:17     3.5
new-winequality-white:18    2.97
new-winequality-white:19    3.97
new-winequality-white:20    3.03
dtype: object