In [1]:
import os
import pandas as pd
import numpy as np

In [5]:
data_path = [i for i in os.listdir() if '.xls' in i]

In [6]:
data_path

['iris_阈值_0.98.xls',
 'new-balance-scale_阈值_0.95.xls',
 'new-breast-cancer-wisconsin_阈值_0.98.xls',
 'new-segmentation_阈值_0.99999.xls',
 'new-win_阈值_0.995.xls',
 'new-winequality-red_阈值_0.9995.xls',
 'new-winequality-white_阈值_0.9999.xls',
 'new1-new-glass_阈值_0.98.xls',
 'seeds_dataset_阈值_0.98.xls']

In [42]:
data_df  = pd.read_excel('new-segmentation_阈值_0.99999.xls')

In [43]:
part_data_df = data_df[['k_value', 'KNN', 'delKNN', 'del_num', 'del_attr']]

In [44]:
part_data_df

                     k_value    KNN  delKNN  del_num             del_attr
new-segmentation:1         1  79.73   89.19        2  ['col_2', 'col_13']
new-segmentation:2         2  70.27   83.78        2  ['col_2', 'col_13']
new-segmentation:3         3  72.97   86.49        2  ['col_2', 'col_13']
new-segmentation:4         4  72.97   83.78        2  ['col_2', 'col_13']
new-segmentation:5         5  74.32   85.14        2  ['col_2', 'col_13']
new-segmentation:6         6  70.27   82.43        2  ['col_2', 'col_13']
new-segmentation:7         7  72.97   82.43        2  ['col_2', 'col_13']
new-segmentation:8         8  74.32   79.73        2  ['col_2', 'col_13']
new-segmentation:9         9  75.68   78.38        2  ['col_2', 'col_13']
new-segmentation:10       10  75.68   79.73        2  ['col_2', 'col_13']
new-segmentation:11       11  72.97   79.73        2  ['col_2', 'col_13']
new-segmentation:12       12  70.27   81.08        2  ['col_2', 'col_13']
new-segmentation:13       13  74.32   79.73        2  ['col_2', 'col_13']
new-segmentation:14       14  70.27   78.38        2  ['col_2', 'col_13']
new-segmentation:15       15  68.92   77.03        2  ['col_2', 'col_13']
new-segmentation:16       16  70.27   77.03        2  ['col_2', 'col_13']
new-segmentation:17       17  71.62   78.38        2  ['col_2', 'col_13']
new-segmentation:18       18  67.57   78.38        2  ['col_2', 'col_13']
new-segmentation:19       19  67.57   77.03        2  ['col_2', 'col_13']
new-segmentation:20       20  71.62   75.68        2  ['col_2', 'col_13']

In [40]:
part_data_df.describe()

        k_value       KNN     delKNN  del_num
count  20.00000  20.00000  20.000000     20.0
mean   10.50000  51.00950  57.669500      3.0
std     5.91608   1.64223   1.923389      0.0
min     1.00000  46.43000  53.040000      3.0
25%     5.75000  50.00000  56.692500      3.0
50%    10.50000  51.34000  58.390000      3.0
75%    15.25000  51.78750  59.110000      3.0
max    20.00000  53.57000  59.640000      3.0

In [41]:
columns_name_list = ['']